  .contenerdo{

    width: 100vw;
  }
  img{

    align-self: row;
    width: 100%;
    height:15rem ;
    border-radius: 2%;
  }
  .h2{
    display: flex;
    color: #80c4ff; 
    text-shadow: 0 0 3px rgb(73, 105, 250), 0 0 8px rgb(73, 105, 250), 0 0 10px rgb(73, 105, 250), 0 0 20px hsl(240, 22%, 96%); 
    justify-content: flex-end;
    margin-right: 990px;
  }
  header{
    align-items: center;
    background-color: rgb(4, 55, 122);
    width: 100%;
    height:8rem ;
  }
  .sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }  
  .header1{
    margin-left: 20%;
    float: left;
  }
  .logo1{
   position: absolute; 
   top: 10px; 
   left: 300px;
   width: 17px;
   margin-right: 10%;
   margin-top: -3.3%;
   float: right;
   filter: invert(100%);
  }
  .logo2{
    position: absolute; 
    top: 10px; 
    left: 384px;
    width: 17px;
    margin-right: 6%;
    margin-top: -3.3%;
    float: right;
    color: #ccc;
    filter: invert(100%);
  }
  .logo3{
    position: absolute; 
    top: 10px; 
    left: 532px;
    width: 17px;
    margin-right: 6%;;
    margin-top: -3.3%;
    float: right;
    filter: invert(100%);
  }
  .soon1{
    width: 100%;
    height:2rem ;
    justify-content: center;
    text-align: center;
    background-color: rgb(18, 103, 200);
    margin-bottom: 10px;
    padding: 30px;

  }
  hr{
    width: 1500%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px;
    margin-left: -50%;
  }
  .img-header{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 5rem;
    height:5rem ;
    border-radius: 60%;
    margin-right: 25%;
    margin-top: 2%;
    float: right;
    box-shadow: 0 0 20px rgb(248, 248, 247);
  }
  input{
    align-self:flex-end;
    border-radius: 15px;
    padding: 0px 0px;
  }
  select{
    align-self:flex-end;
    border-radius: 10px; 
  }
  label{
    color: #ccc;
  }
  body {
    width: 100vw;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(21, 111, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify; 
    align-items: center;
    column-width: auto;
    color: #027bfd;
    overflow: hidden; 
  }
  .cities2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: justify; 
    align-items: center;
    column-width: auto;
    color: #027bfd;
    overflow: hidden; 
    padding-left: 100px; 
    padding-right: 100px;
  }
  .city{
    width: 17%;
    margin-bottom: 15px;
    border-radius: 18px;
    background-color: antiquewhite;
    margin: 1px;
    text-align: center;
    padding: 1px;
  }
  .city1{
    width: 17%;
    margin-bottom: 15px;
    border-radius: 18px;
    background-color: antiquewhite;
    margin: 1px;
    text-align: center;
    padding: 1px;
  }
  button{
    height: auto;
    align-self:flex-end;
    background-color: #027bfd;
    color: #FFFFFF; 
    padding: 4px 19px;  
    border-color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
  } 
  footer{
    align-items: center;
    background-color: rgb(4, 55, 122);
    width: 100%;
    height:10rem ;
   
  }
  .hr1{
 
    height: auto;
    align-self:flex-end;
    color: #FFFFFF; 
    padding: 4px 19px; 
    margin-top: 100px;

  }
  .social{
    display: flex;
    width: 500px; 
    height: 100px;
    align-self:flex-end;
    padding: 4px 10px;
    margin-left: 635px;
    max-width: 300px;
  }
  .social1{
    width: 45px; 
    height: auto;
    filter: invert(100%);
  }
  .social2{
    width: 45px; 
    height: auto;
    filter: invert(100%);
  }
  .social3{
    width: 45px; 
    height: auto;
    filter: invert(100%);
  }
  .social4{
    width: 45px; 
    height: auto;
    filter: invert(100%);
  }
  